// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


@mixin center{
	max-width: 1080px;
	margin:auto;
}

@mixin center-phone{
	width: 1080px;
	margin:auto;
}

@mixin center-tablet{
	width: 1080px;
	margin:auto;
}



$breakpoint-tablet: 620px;
$breakpoint-pc: 1080px;
	
	/* Large devices (landscape pc, 1240 and up) */
@mixin desktop-size {
	@media (min-width: $breakpoint-pc) {
	  @content;
	}
  }

	  /* Medium devices (landscape tablets, 768px and up) */
	  
	  @mixin tablet-size {
		@media (min-width: $breakpoint-tablet) {
		  @content;
		}
	  }